<% extend('../layout/dashBoard-layout') %>
<div class="row justify-content-center">
  <div class="col-md-6">
    <% if(hasInfo){ %>
      <% for( var item in message ){ %>
        <div class="alert alert-warning"><%- message[item] %> </div>        
      <% } %>
    <% } %>
    <form action="/dashboard/categories/create" method="POST">
      <table class="table">
        <tr>
          <td class=""><h4>Create</h4>
          </td>
          <td>
            <label for="name">Category Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          </td>
          <td colspan="2">
            <label for="path">Path</label>
            <input type="text" class="form-control" id="path" name="path" placeholder="Path">
          </td>
        </tr>
      </table>
      <div class="text-right">
        <button type="submit" class="btn btn-warning">Add</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Path</th>
          <th width="30"></th>
        </tr>
      </thead>
      <tbody>
        <% for (var prop in categories){%>
          <tr>
            <td class="align-middle"> <%- categories[prop].name %></td>
            <td><input type="text" class="form-control form-control-sm" value="<%- categories[prop].path %>"></td>
            <td class="align-middle">

              <form action="/dashboard/categories/delete/<%- categories[prop].id %>" method="POST">
                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
              </form>

            </td>
          </tr>
        <% }%>
      </tbody>
    </table>   
  </div>
</div>
